/* Header */
#header{
  width:100%;
}

#selectCompany{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.results{
  position: absolute;
  height: 100px;
  width: 300px;
}

.searchResult{
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 50px;
  border: 1px solid black;
  padding-left: 5px;
  background-color: rgb(207, 238, 238);
}

#body{
  width: 100%;
  display: grid;
  grid-template-columns: 450px 4fr;
}

/* Input */
.input{
  width: 350px;
  height: 900px;
  display: grid;
  grid-template-columns: 300px 100px;
}

#convert{
  width:100%;
  height: 100px;
  background-color: rgb(157, 235, 235);
}

#clear{
  width:100%;
  height: 100px;
  background-color: rgb(157, 235, 235);
}

#saveToDb{
  width:100%;
  height: 100px;
  background-color: rgb(157, 235, 235);
}

#saveCountry{
  width:100%;
  height: 100px;
  background-color: rgb(157, 235, 235);
}


/* Output */
#dataHeader{
  height:50px;
  background-color: rgb(152, 183, 219);
}

/* #dataSection */

/* Info */
#info{
  display: grid;
  grid-template-columns:repeat(6,1fr);
}

.manualUpdate{
  height: 100%;
  padding: 0px;
  margin: 0px;
  
}

.headerBar{
  margin: 0px;
  padding: 0px;
  padding-top: 13px;
}

.quarterHeading{
  padding: 0px;
  margin: 0px;
}

.yearHeading{
  padding: 0px;
  margin: 0px;
}

.manualUpdate{
  margin-left: 80%;
  background-color: rgb(226, 138, 167);
}

#dataSection{
  display: grid;
  grid-template-columns: 1fr 165px;
  height: 800px;
}

#yearlyData{
  display:grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#earnings{
  background-color: rgb(223, 235, 235);
}

.quarterInfo{
  display: grid;
  grid-template-columns: 35px 60px 70px 1fr 1fr;
}

.yearInfo{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.qeText{
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  width: 90%;
}

#fcf{
  background-color: rgb(199, 211, 211);
}

#qDebt{
  background-color: rgb(160, 187, 204);
}

#ebit{
  background-color: rgb(178, 185, 189);
}

#lDebt{
  background-color: rgb(178, 185, 189);
  width: 110px;
}

#insider{

}

.insiderInfo{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#dataHeaderBar{
  display: grid;
  grid-template-columns: 350px 0.1px repeat(12,1fr);
}

#dataHeaderBar p{
  margin: 0px;
  padding: 0px;
}

#incomeState{
  display: grid;
  grid-template-columns: 350px 1fr;
}

#stateValue{
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

#stateValue p{
  padding: 0px;
  margin: 0px;
}



/* #incomeStateValues{
  display: grid;
  grid-template-columns: repeat(13,1fr);
} */